* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #D6CCCC;
  overflow: auto;
}

/* hamburger icon */
body {
  background-color: #171717;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-top: 3px;
}

.hamburger, .navigation {
  transition: transform .3s .1s ease-in-out;
}

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger:focus {
  outline: 0px;
}

.hamburger__inner {
  width: 80%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 80%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  content: '';
  left: 0;
  transition: transform .2s .3s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

/* navigation */
.navigation {
  display: none;
}

ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
}

ul a:visited,
ul a:active,
ul a:hover {
  text-decoration: none;
  color: white;
}

ul li {
  transition-duration: 2s;
}

ul li:hover {
  transform: scale(1.05);
}

/* main content */
.section1 {
  padding-top: 40px;
}

.section1 p {
  text-align: center;
  font-weight: 600;
  margin: 0 20px 0;
  font-size: 18;
}

.contact {
  white-space: pre-line;
  font-size: 20px;
  font-weight: bold;
}

.contact-heading {
  margin-bottom: -15px;
}

.section1 h1,
.section2 h1,
.section3 h1,
.section4 h1 {
  text-align: center;
  margin-top: 50px;
}

.fas {
  font-size: 4rem;
}

.section2 i {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.section2-pic-div1 {
  display: none;
}

.button-parent {
  text-align: center;
  margin-top: 30px;
}

.button-parent a {
  font-size: 20px;
  color: white;
}

.button-parent a:visited,
.button-parent a:active,
.button-parent a:hover {
  text-decoration: none;
  color: white;
}

.before-pic,
.after-pic,
.back-of-house,
.front-of-house,
.wooden-construction1,
.wooden-construction2 {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
}

.before-pic,
.after-pic {
  width: 169px;
  height: 300px;
}

.before-pic {
  background-image: url("../pic/remonty4_Easy-Resize.com.jpg");
}

.after-pic {
  background-image: url("../pic/remonty15_Easy-Resize.com.jpg");
}

.back-of-house {
  background-image: url("../pic/elewacje 7_Easy-Resize.com.jpg");
  width: 300px;
  height: 170px;
  background-size: contain;
}

.front-of-house {
  background-image: url("../pic/Elewacje 9_Easy-Resize.com.jpg");
  width: 300px;
  height: 170px;
  background-size: contain;
}

.wooden-construction1 {
  background-image: url("../pic/konstrukcje5_Easy-Resize.com.jpg");
  width: 300px;
  height: 200px;
}

.wooden-construction2 {
  background-image: url("../pic/konstrukcje4_Easy-Resize.com.jpg");
  width: 300px;
  height: 200px;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  margin-top: 25px;
  padding-top: 10px;
}

@media (min-width: 374px) {
  footer h2 {
    font-size: 35px;
    height: 65px;
  }
}

@media (min-width: 419px) {
  footer {
    height: 75px;
  }
}

@media (min-width: 767px) {
  body {
    color: black;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .navigation h2 {
    margin-left: 20px;
  }
  .navigation ul {
    display: flex;
  }
  .navigation ul li {
    margin: 8px 10px 0 10px;
    font-size: 20px;
  }
  .navigation ul a {
    color: black;
  }
  .phones-navigation {
    display: none;
  }
  .section1 {
    padding: 0;
  }
  .section1 h1,
  .section1 p {
    text-align: left;
    white-space: pre-line;
  }
  .section1 h1 {
    margin-left: 20px;
  }
  .section1 p {
    font-size: 22px;
  }
  .about-us-heading {
    margin-bottom: -10px;
  }
  .section2-pic-div1 {
    display: flex;
  }
  .section2-pic-div1 i {
    align-items: center;
  }
  .phones-pic-div {
    display: none;
  }
  .section3-pic-div {
    display: flex;
  }
  .front-of-house {
    height: 250px;
  }
  .section4-pic-div {
    display: flex;
  }
  .section3 button {
    margin-top: -100px;
  }
  .wooden-construction1,
  .wooden-construction2 {
    height: 250px;
  }
  footer {
    height: 80px;
    padding: 0;
  }
  footer h2 {
    position: relative;
    top: 15px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 967px) {
  .navigation {
    padding-top: 5px;
  }
  .navigation a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 50px;
  }
}
